# <center style='color:orchid'> Different uses of `for` loop in Python programming language </center>

## 1. Iterate through a `string`

In [1]:
city = 'tokyo'

for letter in city:
    print(letter) # print vertically

t
o
k
y
o

In [2]:
for letter in city:
    print(letter, end=' ') # print horizontally

t o k y o

In [3]:
for letter in city[::-1]:
    print(letter) # print backwards vertically

o
y
k
o
t

In [4]:
for letter in city[::-1]:
    print(letter, end=' ') # print backwards horizontally

o y k o t

In [5]:
for letter in city[::2]:
    print(letter) # skip a letter and print vertically

t
k
o

In [6]:
for letter in city[::2]:
    print(letter, end=' ') # skip a letter and print horizontally

t k o

In [7]:
for letter in reversed(city[::2]):
    print(letter) # skip a letter and print backwards vertically

o
k
t

In [8]:
for letter in reversed(city[::2]):
    print(letter, end=' ') # skip a letter and print backwards horizontally

o k t

In [9]:
for index, letter in enumerate(city):
    print(index, '|', letter) # print both index and letters

0 | t
1 | o
2 | k
3 | y
4 | o

## 2. Iterate through a `list`

In [10]:
gather = [5, 'osaka', 0.1, 8j, 2 + 3j, 'sakura']

for item in gather:
    print(item) # print vertically

5
osaka
0.1
8j
(2+3j)
sakura

In [11]:
for item in gather:
    print(item, end=' ') # print horizontally

5 osaka 0.1 8j (2+3j) sakura

In [12]:
for item in gather:
    print(item, '\t', type(item)) # print items and their data types

5 	 <class 'int'>
osaka 	 <class 'str'>
0.1 	 <class 'float'>
8j 	 <class 'complex'>
(2+3j) 	 <class 'complex'>
sakura 	 <class 'str'>

In [13]:
for index, item in enumerate(gather):
    print(index, '|', item) # print both index and items

0 | 5
1 | osaka
2 | 0.1
3 | 8j
4 | (2+3j)
5 | sakura

In [14]:
collect = [print(item) for item in gather] # print items using list comprehension

5
osaka
0.1
8j
(2+3j)
sakura

In [15]:
# print index and items using list comprehension

collect = [print(index, '|', item) for index, item in enumerate(gather)]

0 | 5
1 | osaka
2 | 0.1
3 | 8j
4 | (2+3j)
5 | sakura

## 3. Iterate through a `tuple`

In [16]:
save = (4, 2.1, 'kyoto', 2j, 3 + 5j, 'katana')

for item in save:
    print(item) # print vertically

4
2.1
kyoto
2j
(3+5j)
katana

In [17]:
for item in save:
    print(item, '\t', type(item)) # print items and their data types

4 	 <class 'int'>
2.1 	 <class 'float'>
kyoto 	 <class 'str'>
2j 	 <class 'complex'>
(3+5j) 	 <class 'complex'>
katana 	 <class 'str'>

In [18]:
for index, item in enumerate(save):
    print(index, '|', item) # print both index and items

0 | 4
1 | 2.1
2 | kyoto
3 | 2j
4 | (3+5j)
5 | katana

In [19]:
fetch = [print(item) for item in save] # print items using list comprehension

4
2.1
kyoto
2j
(3+5j)
katana

In [20]:
# print index and items using list comprehension

fetch = [print(index, '|', item) for index, item in enumerate(save)]

0 | 4
1 | 2.1
2 | kyoto
3 | 2j
4 | (3+5j)
5 | katana

## 4. Iterate through a `dictionary`

In [21]:
note = {'a': 'MARVEL', 'b': 'DC', 'c': 'UNIVERSAL', 'd': 'DISNEY', 'e': 'NETFLIX'}

for key in note.keys():
    print(key) # print vertically

a
b
c
d
e

In [22]:
for value in note.values():
    print(value) # print vertically

MARVEL
DC
UNIVERSAL
DISNEY
NETFLIX

In [23]:
for key, value in note.items():
    print(key, '|', value)

a | MARVEL
b | DC
c | UNIVERSAL
d | DISNEY
e | NETFLIX

In [24]:
for value in note.values():
    print(type(value)) # print the value data types in dictionary

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [25]:
get = [print(items) for items in note.items()] # print dictionary items using list comprehension

('a', 'MARVEL')
('b', 'DC')
('c', 'UNIVERSAL')
('d', 'DISNEY')
('e', 'NETFLIX')

In [26]:
# print index and items using list comprehension

get = [print(index, '|', items) for index, items in enumerate(note.items())]

0 | ('a', 'MARVEL')
1 | ('b', 'DC')
2 | ('c', 'UNIVERSAL')
3 | ('d', 'DISNEY')
4 | ('e', 'NETFLIX')

## 5. Iterate through a `set`

In [27]:
flowers = {'rose', 'lily', 'orchid', 'tulip', 'daisy'}

type(flowers) # type of the variable

set

In [28]:
for item in flowers:
    print(item) # print vertically

tulip
orchid
rose
lily
daisy

#### serials of the items within a `set` are not maintained while printing

In [29]:
for item in flowers:
    print(item, '\t', type(item)) # print items and their data types

tulip 	 <class 'str'>
orchid 	 <class 'str'>
rose 	 <class 'str'>
lily 	 <class 'str'>
daisy 	 <class 'str'>

In [30]:
# print items using list comprehension

recover = [print(item) for item in flowers]

tulip
orchid
rose
lily
daisy

In [31]:
# print index and items using list comprehension

recover = [print(index, '|', item) for index, item in enumerate(flowers)]

0 | tulip
1 | orchid
2 | rose
3 | lily
4 | daisy

## 6. `for` loop and `range` function

In [32]:
for digit in range(10):
    print(digit) # print vertically

0
1
2
3
4
5
6
7
8
9

In [33]:
for digit in range(10):
    print(digit, end=' ') # print horizontally

0 1 2 3 4 5 6 7 8 9

In [34]:
for digit in range(0, 10, 2):
    print(digit) # skip by one digit and print vertically

0
2
4
6
8

In [35]:
for digit in range(3, 20):
    print(digit, end=' ') # print digits within a certain range horizontally

3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [36]:
for digit in range(9, -1, -1):
    print(digit, end=' ') # print digits backwards horizontally

9 8 7 6 5 4 3 2 1 0

In [37]:
digits = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for digit in range(len(digits)):
    print(digit, end=' ') # iterate through a list using range function

0 1 2 3 4 5 6 7 8 9

## 7. `break` and `continue` statements within `for` loop

In [38]:
animals = ['tiger', 'lion', 'jaguar', 'cougar', 'leopard']

for animal in animals:
    print(animal) # print vertically

tiger
lion
jaguar
cougar
leopard

In [39]:
for animal in animals:
    if animal == 'cougar': continue
    print(animal) # will not print 'cougar'

tiger
lion
jaguar
leopard

In [40]:
for animal in animals:
    if animal == 'cougar': break
    print(animal) # loop is terminated after 'jaguar'

tiger
lion
jaguar

## 8. `if-else` statements within `for` loop

In [41]:
for i in range(10):
    if i % 2 == 0:
        print(i, 'is EVEN')
    else: print(i, 'is ODD')

0 is EVEN
1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD

## 9. `else` statement with `for` loop

In [42]:
for i in range(5):
    print(i)
else: print('DONE!') # 'else' statement is executed after loop is terminated

0
1
2
3
4
DONE!

## 10. Nested `for` loops

In [43]:
for i in ['a', 'b', 'c']:
    for j in ['a', 'b', 'c']:
        print((i, j))

('a', 'a')
('a', 'b')
('a', 'c')
('b', 'a')
('b', 'b')
('b', 'c')
('c', 'a')
('c', 'b')
('c', 'c')

## 11. `for` loop and `zip` function

In [44]:
subjects = ['PHYSICS', 'CHEMISTRY', 'BIOLOGY']
section = ['A', 'B', 'C']
classroom = [101, 102, 103]

for a, b, c in zip(subjects, section, classroom):
    print(a, 'is being taught in section', b, 'at room number', c)

PHYSICS is being taught in section A at room number 101
CHEMISTRY is being taught in section B at room number 102
BIOLOGY is being taught in section C at room number 103