# <center style='color:indianred'> `Tuples` in Python </center>

## 1. Create a `tuple`

In [1]:
tuple_1 = ('orange', 21, 7.8, 78j, False, 'whale')
tuple_1

('orange', 21, 7.8, 78j, False, 'whale')

In [2]:
type(tuple_1)

tuple

## 2. Check the length of the `tuple`

In [3]:
len(tuple_1)

6

## 3. Iterate through the `tuple` using `for` loop

In [4]:
for item in tuple_1:
    print(item, '\t', type(item))

orange 	 <class 'str'>
21 	 <class 'int'>
7.8 	 <class 'float'>
78j 	 <class 'complex'>
False 	 <class 'bool'>
whale 	 <class 'str'>

## 4. Iterate through the `tuple` using `while` loop

In [5]:
n = 0

while n < len(tuple_1):
    print(tuple_1[n])
    n += 1

orange
21
7.8
78j
False
whale

## 5. Create a `tuple` using `tuple()` function

In [6]:
animal = ['tiger', 'lion', 'jaguar', 'cougar', 'leopard']
animal

['tiger', 'lion', 'jaguar', 'cougar', 'leopard']

In [7]:
type(animal)

list

In [8]:
list_to_tuple = tuple(animal)
list_to_tuple

('tiger', 'lion', 'jaguar', 'cougar', 'leopard')

In [9]:
type(list_to_tuple)

tuple

## 6. Create an empty `tuple`

In [10]:
empty_1 = ()
empty_1

()

In [11]:
empty_2 = tuple()
empty_2

()

## 7. Create a one element `tuple`

In [12]:
one = ('ship',) # comma is a must
one

('ship',)

In [13]:
type(one)

tuple

## 8. Access elements within a `tuple`

In [14]:
tuple_1

('orange', 21, 7.8, 78j, False, 'whale')

In [15]:
tuple_1[1] # positive indexing

21

In [16]:
tuple_1[-2] # nagative indexing

False

In [17]:
tuple_1[2:6] # slicing

(7.8, 78j, False, 'whale')

In [18]:
tuple_1[:3]

('orange', 21, 7.8)

In [19]:
tuple_1[:-3]

('orange', 21, 7.8)

In [20]:
tuple_1[::-1] # prints in reverse

('whale', False, 78j, 7.8, 21, 'orange')

## 9. Add elements to a `tuple`

In [21]:
list_ = list(tuple_1)
list_

['orange', 21, 7.8, 78j, False, 'whale']

In [22]:
list_.append(True)
list_

['orange', 21, 7.8, 78j, False, 'whale', True]

In [23]:
tuple_2 = tuple(list_)
tuple_2

('orange', 21, 7.8, 78j, False, 'whale', True)

In [24]:
type(tuple_2)

tuple

## 10. Concatenate `tuples`

In [25]:
tuple_3 = (1, 2, 3)
tuple_4 = (4, 5, 6)

tuple_5 = tuple_3 + tuple_4
tuple_5

(1, 2, 3, 4, 5, 6)

## 11. Repeat the elements within a `tuple`

In [26]:
tuple_6 = (10, 20, 30)
repeated_tuple_6 = tuple_6 * 3
repeated_tuple_6

(10, 20, 30, 10, 20, 30, 10, 20, 30)

## 12. Count the frequency of an element using `count()` method

In [27]:
tuple_7 = (4, 5, 4, 3, 4, 7, 4, 8, 4)
tuple_7

(4, 5, 4, 3, 4, 7, 4, 8, 4)

In [28]:
tuple_7.count(4)

5

## 13. Find the position of an element using `index()` method

In [29]:
tuple_8 = (1, 2, 3, 4, 5)
tuple_8

(1, 2, 3, 4, 5)

In [30]:
tuple_8.index(2)

1

## 14. Nested `tuples`

In [31]:
create1 = (1, 2)
create2 = ('A', 'B')
create3 = (True, False)

create = (create1, create2, create3)
create

((1, 2), ('A', 'B'), (True, False))

In [32]:
create[0]

(1, 2)

In [33]:
create[0][1]

2