# <center style='color:indigo'> `Lists` in Python </center>

## 1. Create a `list`

In [1]:
list_1 = ['apple', 5, 2.1, True, 3j, 2 + 7j, 'tuna']
list_1

['apple', 5, 2.1, True, 3j, (2+7j), 'tuna']

## 2. Check data type

In [2]:
type(list_1)

list

## 3. Check the length of the `list`

In [3]:
len(list_1)

7

## 4. Iterate through the `list` using `for` loop

In [4]:
for item in list_1:
    print(item)

apple
5
2.1
True
3j
(2+7j)
tuna

In [5]:
for item in list_1:
    print(type(item)) # check the data type of each element in the 'list'

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'complex'>
<class 'str'>

## 5. Iterate through the `list` using `while` loop

In [6]:
n = 0

while n < len(list_1):
    print(list_1[n])
    n += 1

apple
5
2.1
True
3j
(2+7j)
tuna

## 6. Convert to a list using `list()` function

In [7]:
tuple_ = ('apple', 5, 2.1, True, 3j, 2 + 7j, 'tuna')
type(tuple_)

tuple

In [8]:
list_2 = list(tuple_) # converting tuple into a 'list'
list_2

['apple', 5, 2.1, True, 3j, (2+7j), 'tuna']

In [9]:
type(list_2)

list

In [10]:
set_ = {'apple', 5, 2.1, True, 3j, 2 + 7j, 'tuna'}
set_

{(2+7j), 2.1, 3j, 5, True, 'apple', 'tuna'}

The order of the elements within the `set` is not maintained while printing

In [11]:
list_3 = list(set_) # converting set into a 'list'
list_3

[True, 2.1, 5, 'apple', (2+7j), 'tuna', 3j]

In [12]:
type(list_3)

list

## 7. Access an element from the `list` using index number

In [13]:
list_1

['apple', 5, 2.1, True, 3j, (2+7j), 'tuna']

In [14]:
list_1[3] # positive indexing

True

In [15]:
list_1[6]

'tuna'

In [16]:
list_1[-1] # negative indexing

'tuna'

In [17]:
list_1[-7]

'apple'

## 8. Create an empty `list`

In [18]:
empty = []
empty

[]

In [19]:
type(empty)

list

## 9. Add items to an empty `list` using `append()` method

In [20]:
for item in [1, 'banana', False, 5]:
    empty.append(item)

In [21]:
empty

[1, 'banana', False, 5]

## 10. Create a new `list` using `copy()` method

In [22]:
no_longer_empty = empty.copy()
no_longer_empty

[1, 'banana', False, 5]

In [23]:
empty

[1, 'banana', False, 5]

In [24]:
no_longer_empty.append('tiger') # inserts new element at the end of a 'list'
no_longer_empty

[1, 'banana', False, 5, 'tiger']

In [25]:
empty

[1, 'banana', False, 5]

## 11. Add element in a specific position using `insert()` method

In [26]:
no_longer_empty

[1, 'banana', False, 5, 'tiger']

In [27]:
no_longer_empty.insert(1, 0.9)
no_longer_empty

[1, 0.9, 'banana', False, 5, 'tiger']

## 12. Add multiple items at a time using the `extend()` method

In [28]:
numbers = [1, 2, 3]
numbers.extend([4, 5, 6])
numbers

[1, 2, 3, 4, 5, 6]

## 13. Get rid of an element using `remove()` method

In [29]:
numbers

[1, 2, 3, 4, 5, 6]

In [30]:
numbers.remove(1)
numbers

[2, 3, 4, 5, 6]

## 14. Backward operation using `reverse()` method

In [31]:
numbers

[2, 3, 4, 5, 6]

In [32]:
numbers.reverse()
numbers

[6, 5, 4, 3, 2]

## 15. Get rid of an element using `pop()` method

In [33]:
numbers

[6, 5, 4, 3, 2]

In [34]:
numbers.pop()
numbers

[6, 5, 4, 3]

In [35]:
numbers.pop(0) # remove the 0-th indexed element from the 'list'
numbers

[5, 4, 3]

## 16. Create a multi-dimensional `list`

In [36]:
multi = [[1, 2], (3, 4), {5, 6}, 'shark', 0.4, True, 9j]
multi

[[1, 2], (3, 4), {5, 6}, 'shark', 0.4, True, 9j]

In [37]:
for item in multi:
    print(item, '\t', type(item))

[1, 2] 	 <class 'list'>
(3, 4) 	 <class 'tuple'>
{5, 6} 	 <class 'set'>
shark 	 <class 'str'>
0.4 	 <class 'float'>
True 	 <class 'bool'>
9j 	 <class 'complex'>

In [38]:
multi[0]

[1, 2]

In [39]:
multi[0][0]

1

## 17. Get the position of an element using `index()` method

In [40]:
multi.index([1, 2])

0

## 18. Check the frequency of an element using `count()` method

In [41]:
letters = ['A', 'B', 'A', 'C', 'A', 'A']
letters

['A', 'B', 'A', 'C', 'A', 'A']

In [42]:
letters.count('A')

4

## 19. Ascending and descending operation using `sort()` method

In [43]:
new_list = [4, 2, 3, 0, 8, 10, 233]
new_list

[4, 2, 3, 0, 8, 10, 233]

In [44]:
new_list.sort() # ascending order
new_list

[0, 2, 3, 4, 8, 10, 233]

In [45]:
new_list.sort(reverse=True) # descending order
new_list

[233, 10, 8, 4, 3, 2, 0]

## 20. Delete all items from a `list` using `empty()` method

In [46]:
new_list

[233, 10, 8, 4, 3, 2, 0]

In [47]:
new_list.clear()
new_list

[]

## 21. Slicing a `list`

In [48]:
final = [32, 45, 78, 90, 65, 47]
final

[32, 45, 78, 90, 65, 47]

In [49]:
final[2:] # start printing elements from 2nd indexed position

[78, 90, 65, 47]

In [50]:
final[2:4]

[78, 90]

In [51]:
final[:2]

[32, 45]

In [52]:
final[2:6:2]

[78, 65]

In [53]:
final[:-2]

[32, 45, 78, 90]

In [54]:
final[-3:]

[90, 65, 47]

In [55]:
final[::-1] # prints in reverse order

[47, 65, 90, 78, 45, 32]